<div>
  <md-content class="virtualRepeatdemoInfiniteScroll" ng-cloak layout="column">
    <md-virtual-repeat-container id="vertical-container" flex>
      <div md-virtual-repeat="item in cc.messages" class="repeated-item" flex>
        {{item.sender}} Say : {{item.text}} at {{item.timestamp | date: 'medium'}}
      </div>
    </md-virtual-repeat-container>
  </md-content>
  <div class="md-padding" layout-padding>
    <md-input-container class="md-icon-float md-block">
      <label>Say your name</label>
      <input type="text" data-ng-model='cc.name'>
    </md-input-container>
    <form data-ng-submit="cc.sendMessage(cc.msg, cc.name)">
      <md-input-container class="md-icon-float md-block">
        <label>message</label>
        <input data-ng-model="cc.msg" type="text">
      </md-input-container>
    </form>
  </div>
</div>
